.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexJustify {
    display: flex;
    justify-content: center;

}

.flexAlign {
    display: flex;
    align-items: center;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

/* hace responsivo */
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}